[submodule "pack/bundle/start/CamelCaseMotion"]
	path = pack/bundle/start/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "pack/bundle/start/linediff.vim"]
	path = pack/bundle/start/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "pack/bundle/start/LogiPat"]
	path = pack/bundle/start/LogiPat
	url = https://github.com/vim-scripts/LogiPat.git
[submodule "pack/bundle/start/paredit.vim"]
	path = pack/bundle/start/paredit.vim
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule "pack/bundle/start/tpope-vim-abolish"]
	path = pack/bundle/start/tpope-vim-abolish
	url = https://github.com/tpope/tpope-vim-abolish.git
[submodule "pack/bundle/start/vim-commentary"]
	path = pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/bundle/start/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/bundle/start/vim-gfm-syntax"]
	path = pack/bundle/start/vim-gfm-syntax
	url = https://github.com/rhysd/vim-gfm-syntax.git
[submodule "pack/bundle/start/vim-mark"]
	path = pack/bundle/start/vim-mark
	url = https://github.com/inkarkat/vim-mark.git
[submodule "pack/bundle/start/vim-obsession"]
	path = pack/bundle/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/bundle/start/vim-repeat"]
	path = pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/bundle/start/vim-rzip"]
	path = pack/bundle/start/vim-rzip
	url = https://github.com/lbrayner/vim-rzip.git
[submodule "pack/bundle/start/vim-sneak"]
	path = pack/bundle/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "pack/bundle/start/vim-surround"]
	path = pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/bundle/start/vim-unimpaired"]
	path = pack/bundle/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/bundle/start/vissort"]
	path = pack/bundle/start/vissort
	url = https://github.com/yaroot/vissort.git
[submodule "pack/bundle/start/delimitMate"]
	path = pack/bundle/start/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "pack/bundle/start/vim-easy-align"]
	path = pack/bundle/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "pack/bundle/start/flattened"]
	path = pack/bundle/start/flattened
	url = https://github.com/romainl/flattened
[submodule "pack/bundle/start/vim-quickhl"]
	path = pack/bundle/start/vim-quickhl
	url = https://github.com/t9md/vim-quickhl
[submodule "pack/bundle/start/vim-characterize"]
	path = pack/bundle/start/vim-characterize
	url = https://github.com/tpope/vim-characterize
[submodule "pack/bundle/start/vim-dirvish"]
	path = pack/bundle/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "pack/bundle/start/vim-eunuch"]
	path = pack/bundle/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/bundle/start/vim-css-color"]
	path = pack/bundle/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "pack/bundle/start/nvim-lspconfig"]
	path = pack/bundle/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/bundle/start/reply.vim"]
	path = pack/bundle/start/reply.vim
	url = https://github.com/rhysd/reply.vim
[submodule "pack/bundle/opt/fzf-lua"]
	path = pack/bundle/start/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua
    branch = main
[submodule "pack/bundle/opt/nvim-jdtls"]
	path = pack/bundle/start/nvim-jdtls
	url = https://github.com/mfussenegger/nvim-jdtls
[submodule "pack/bundle/start/vim-dadbod"]
	path = pack/bundle/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule "pack/bundle/start/typescript.nvim"]
	path = pack/bundle/start/typescript.nvim
	url = https://github.com/jose-elias-alvarez/typescript.nvim
    branch = main
[submodule "pack/bundle/start/nvim-snippy"]
	path = pack/bundle/start/nvim-snippy
	url = https://github.com/dcampos/nvim-snippy
[submodule "pack/bundle/start/vim-rsi"]
	path = pack/bundle/start/vim-rsi
	url = https://github.com/tpope/vim-rsi
[submodule "pack/bundle/start/cmp-nvim-lsp"]
	path = pack/bundle/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "pack/bundle/start/nvim-cmp"]
	path = pack/bundle/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
