[submodule "pack/bundle/start/CamelCaseMotion"]
	path = pack/bundle/start/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "pack/bundle/start/ctrlp.vim"]
	path = pack/bundle/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/bundle/start/dbext.vim"]
	path = pack/bundle/start/dbext.vim
	url = https://github.com/lbrayner/dbext.vim.git
[submodule "pack/bundle/start/L9"]
	path = pack/bundle/start/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "pack/bundle/start/linediff.vim"]
	path = pack/bundle/start/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "pack/bundle/start/LogiPat"]
	path = pack/bundle/start/LogiPat
	url = https://github.com/vim-scripts/LogiPat.git
[submodule "pack/bundle/start/paredit.vim"]
	path = pack/bundle/start/paredit.vim
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule "pack/bundle/start/QFEnter"]
	path = pack/bundle/start/QFEnter
	url = https://github.com/yssl/QFEnter.git
[submodule "pack/bundle/start/supertab"]
	path = pack/bundle/start/supertab
	url = https://github.com/lbrayner/supertab.git
[submodule "pack/bundle/start/syntastic"]
	path = pack/bundle/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "pack/bundle/start/tpope-vim-abolish"]
	path = pack/bundle/start/tpope-vim-abolish
	url = https://github.com/tpope/tpope-vim-abolish.git
[submodule "pack/bundle/start/vim-commentary"]
	path = pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/bundle/start/vim-fireplace"]
	path = pack/bundle/start/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "pack/bundle/start/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/bundle/start/vim-gfm-syntax"]
	path = pack/bundle/start/vim-gfm-syntax
	url = https://github.com/rhysd/vim-gfm-syntax.git
[submodule "pack/bundle/start/vim-mark"]
	path = pack/bundle/start/vim-mark
	url = https://github.com/inkarkat/vim-mark.git
[submodule "pack/bundle/start/vim-obsession"]
	path = pack/bundle/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/bundle/start/vim-ps1"]
	path = pack/bundle/start/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "pack/bundle/start/vim-repeat"]
	path = pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/bundle/start/vim-rzip"]
	path = pack/bundle/start/vim-rzip
	url = https://github.com/lbrayner/vim-rzip.git
[submodule "pack/bundle/start/vim-salve"]
	path = pack/bundle/start/vim-salve
	url = https://github.com/tpope/vim-salve.git
[submodule "pack/bundle/start/vim-sneak"]
	path = pack/bundle/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "pack/bundle/start/vim-surround"]
	path = pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/bundle/start/vim-unimpaired"]
	path = pack/bundle/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/bundle/start/vim-vinegar"]
	path = pack/bundle/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "pack/bundle/start/vissort"]
	path = pack/bundle/start/vissort
	url = https://github.com/yaroot/vissort.git
[submodule "pack/bundle/start/ferret"]
	path = pack/bundle/start/ferret
	url = https://github.com/wincent/ferret
[submodule "pack/bundle/start/scalpel"]
	path = pack/bundle/start/scalpel
	url = https://github.com/wincent/scalpel
[submodule "pack/bundle/start/vim-ragtag"]
	path = pack/bundle/start/vim-ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule "pack/bundle/start/email.vim"]
	path = pack/bundle/start/email.vim
	url = https://github.com/lbrayner/email.vim
[submodule "pack/bundle/start/delimitMate"]
	path = pack/bundle/start/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "pack/bundle/start/vim-easy-align"]
	path = pack/bundle/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "pack/bundle/start/vim-matchit"]
	path = pack/bundle/start/vim-matchit
	url = https://github.com/lbrayner/vim-matchit
[submodule "pack/bundle/start/fzf.vim"]
	path = pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/bundle/start/birl.vim"]
	path = pack/bundle/start/birl.vim
	url = https://github.com/lbrayner/birl.vim
[submodule "pack/bundle/start/flattened"]
	path = pack/bundle/start/flattened
	url = https://github.com/romainl/flattened
[submodule "pack/bundle/start/vim-DetectSpellLang"]
	path = pack/bundle/start/vim-DetectSpellLang
	url = https://github.com/lbrayner/vim-DetectSpellLang
[submodule "pack/bundle/start/vim-quickhl"]
	path = pack/bundle/start/vim-quickhl
	url = https://github.com/t9md/vim-quickhl
