[submodule "pack/bundle/start/CamelCaseMotion"]
	path = pack/bundle/start/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "pack/bundle/start/linediff.vim"]
	path = pack/bundle/start/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "pack/bundle/start/LogiPat"]
	path = pack/bundle/start/LogiPat
	url = https://github.com/vim-scripts/LogiPat.git
[submodule "pack/bundle/start/tpope-vim-abolish"]
	path = pack/bundle/start/tpope-vim-abolish
	url = https://github.com/tpope/tpope-vim-abolish.git
[submodule "pack/bundle/start/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/bundle/start/vim-gfm-syntax"]
	path = pack/bundle/start/vim-gfm-syntax
	url = https://github.com/rhysd/vim-gfm-syntax.git
[submodule "pack/bundle/start/vim-mark"]
	path = pack/bundle/start/vim-mark
	url = https://github.com/inkarkat/vim-mark.git
[submodule "pack/bundle/start/vim-obsession"]
	path = pack/bundle/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/bundle/start/vim-rzip"]
	path = pack/bundle/start/vim-rzip
	url = https://github.com/lbrayner/vim-rzip.git
[submodule "pack/bundle/start/vissort"]
	path = pack/bundle/start/vissort
	url = https://github.com/yaroot/vissort.git
[submodule "pack/bundle/start/vim-quickhl"]
	path = pack/bundle/start/vim-quickhl
	url = https://github.com/t9md/vim-quickhl
[submodule "pack/bundle/start/vim-characterize"]
	path = pack/bundle/start/vim-characterize
	url = https://github.com/tpope/vim-characterize
[submodule "pack/bundle/start/vim-eunuch"]
	path = pack/bundle/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/bundle/start/nvim-lspconfig"]
	path = pack/bundle/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/bundle/start/reply.vim"]
	path = pack/bundle/start/reply.vim
	url = https://github.com/rhysd/reply.vim
[submodule "pack/bundle/opt/fzf-lua"]
	path = pack/bundle/start/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua
    branch = main
[submodule "pack/bundle/opt/nvim-jdtls"]
	path = pack/bundle/start/nvim-jdtls
	url = https://github.com/mfussenegger/nvim-jdtls
[submodule "pack/bundle/start/vim-dadbod"]
	path = pack/bundle/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule "pack/bundle/start/typescript.nvim"]
	path = pack/bundle/start/typescript.nvim
	url = https://github.com/jose-elias-alvarez/typescript.nvim
    branch = main
[submodule "pack/bundle/start/nvim-snippy"]
	path = pack/bundle/start/nvim-snippy
	url = https://github.com/dcampos/nvim-snippy
[submodule "pack/bundle/start/vim-rsi"]
	path = pack/bundle/start/vim-rsi
	url = https://github.com/tpope/vim-rsi
; 'legacy' tag
[submodule "pack/bundle/start/fidget.nvim"]
	path = pack/bundle/start/fidget.nvim
	url = https://github.com/lbrayner/fidget.nvim
	update = none
[submodule "pack/bundle/start/nvim-dap-ui"]
	path = pack/bundle/start/nvim-dap-ui
	url = https://github.com/lbrayner/nvim-dap-ui
	branch = winhl-append
[submodule "pack/bundle/start/nvim-dap"]
	path = pack/bundle/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "pack/bundle/start/colorbuddy.nvim"]
	path = pack/bundle/start/colorbuddy.nvim
	url = https://github.com/tjdevries/colorbuddy.nvim
[submodule "pack/bundle/start/neosolarized.nvim"]
	path = pack/bundle/start/neosolarized.nvim
	url = https://github.com/svrana/neosolarized.nvim
[submodule "pack/bundle/start/tint.nvim"]
	path = pack/bundle/start/tint.nvim
	url = https://github.com/levouh/tint.nvim
[submodule "pack/bundle/start/mini.nvim"]
	path = pack/bundle/start/mini.nvim
	url = https://github.com/echasnovski/mini.nvim
[submodule "pack/bundle/start/nvim-web-devicons"]
	path = pack/bundle/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "pack/bundle/start/nvim-colorizer.lua"]
	path = pack/bundle/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
